

.bg_img{

    /* border: 1px solid red; */
    height: 80vh;
    margin: 1.5rem auto;
    background-image: url('../images/bg_img.jpg');
    background-repeat: no-repeat, repeat; 
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.404);
    background-blend-mode: lighten;
    background-position: 0 100%;
    display: flex;
}

#card{

    /* border: 2px solid red; */

    border-radius: 1%;
  margin: 2rem auto;
    width: 50vw;
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.774);
  font-family: cursive;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.divImg{
    width: 40%;
}
.divImg > img{
    width: 100%;
}

.detailInfo{
    width: 60%;

}

.basicInfo , .abilitiesInfo, .statsInfo{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.basicInfo > div , .abilitiesInfo > div, .statsInfo > div {

    /* border: 1px solid blue;  */
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
flex-wrap: wrap;
flex-shrink: inherit;
flex-grow: initial;
   
  
}
.basicInfo > div > span , .abilitiesInfo > div > span , .statsInfo > div > span  {

    /* border: 1px solid red;  */
margin: 0.25rem;
padding: 0.25rem;
font-size: medium;


}




.spritesInfo{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
   width: 40%;
    margin: auto;

}

.spritesInfo > img{
  
width: 50%;


}